@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bg-rgb: 45, 179, 197;
  --primary-bg: #06b6d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* * {
  font-family: Georgia, serif;
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body > div {
  min-height: calc(100vh - 160px);
}

.select__control {
  border-color: rgb(156, 163, 175) !important;
  min-height: 42px !important;
  border-radius: 8px !important;
}

.full-pdf embed {
  height: calc(100vh - 80px);
}

/* @media screen and (min-width: 768px) {
  .article {
    width: calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }
} */

footer {
  max-width: 100%;
}

.pdf-article ~footer {
  display: none;
}

.pdf-article .react-pdf__Page__canvas {
  margin: 0 auto !important;
}
